
    

.main-detail
{
    color:#2E58DD;
    font-style:oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
    
    background-color: rgb(240, 208, 170);

}